@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 


  body,ul,li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: white;

}

.header{
  background-color: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ;
  padding: 20px;
  align-items: center;

}
h1{
  font-family: "Work Sans", sans-serif;   
   font-size: xx-large; 
    color: white;
  }

.logo{ width: 70px;

}

.menu{
  display: flex;
}
.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;

}
.naruto{
  display: flex;
  justify-content: center;
  padding: 10px;

}
.naruto img{
  border-radius: ;
}
.naruto p {
  padding: 10px;
  text-align: justify;
  font-family: "Work Sans", sans-serif;  ;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
  }
}
.main{
  min-height: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.27);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}