@charset "UTF-8";


* {
   padding: 0px;
   margin: 0px;
  }
 
  body{
   background-color: #D5D6DA;

   display: block;
   width: 60px;
 }
 h1{
  text-align: end;
 }

 ul {
  
   list-style-type: none;
   margin: 0;
   padding-left: 100px;
   padding-top: 50px;
   width: 200px;
   background-color: #D5D6D;
 }
 
 li a {
   display: block;
   color: black;
   padding: 8px 16px;
   text-decoration: none;
 }
 
 /* Change the link color on hover */
 li a:hover {
   background-color: #555;
   color: white;
 }
 img{
   padding-top: 15px;
 }

 h1{
   
 }